In [6]:
import pandas as pd
import numpy as np
data=pd.read_csv('Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

here using paired sample t test beacuse have to check whether there is any increase in sales after
stepping into digital marketing.These both condion are dependented.

H0:there is no increase in sales after stepping into digital marketing.
Ha:there is increase in sales after stepping into digital marketing.

In [26]:
data=pd.read_csv('Sales_add.csv')
#reading Sales_before_digital_add
Sales_before_digital_add=data['Sales_before_digital_add(in $)']
Sales_before_digital_add

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [27]:
#reading Sales_After_digital_add
Sales_After_digital_add=data['Sales_After_digital_add(in $)']
Sales_After_digital_add

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [48]:
from scipy.stats import ttest_rel
ttest_rel(Sales_before_digital_add,Sales_After_digital_add)

Ttest_relResult(statistic=-12.09070525287017, pvalue=6.336667004575778e-11)

comparing p value with significance level(0.05) 
pvalue is greater so reject the null hypothesis
ie,there is increase in sales after stepping into digital marketing.

# The company needs to check whether there is any dependency between the features “Region” and “Manager”

H0:Region and Manager are independent 
Ha:Region and Manager are dependent

In [43]:
data=pd.read_csv('Sales_add.csv')
crosstab=pd.crosstab(data['Region'],data['Manager'],normalize='index')
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A     0.400000     0.300000     0.300000
Region - B     0.571429     0.142857     0.285714
Region - C     0.200000     0.600000     0.200000

In [51]:
from scipy import stats
stats.chi2_contingency(crosstab)

(0.5097129666190809,
 0.9725485584250712,
 4,
 array([[0.39047619, 0.34761905, 0.26190476],
        [0.39047619, 0.34761905, 0.26190476],
        [0.39047619, 0.34761905, 0.26190476]]))

first value is the Chi-square value=0.509
second valueis p-value =0.97
third value the degrees of freedom=4

In [ ]:
level of significance is 0.05 is lessthan that of p value , so so null hypothesis is accepted.
Region and Manager are independent, ie no relation between Region and Manager for the sales